.ctl {
  padding: 32px 25px;
  background: #edeff6;
}

.ctl__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ctl__item {
  position: relative;
  padding: 13px 20px 12px 19px;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 20px;

}

.ctl__item::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 22px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f97676;
}

.ctl__item:nth-child(4)::before {
  background: #81e31e;
}

.ctl__wrapper {
  display: flex;
  position: relative;

  &--last {
    justify-content: space-between;
    margin-top: -12px;
    padding-left: 1px;
  }
}

.ctl__avatar {
  margin-right: 15px;

  img {
    border-radius: 50%;
  }
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 48px;
  bottom: 4px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #edeff6;

  svg {
    fill: #999999;
    opacity: 0.7;
  }
}

.heart--active {
  background-color: #f9eaea;

  svg {
    fill: #ff004b;
  }

  &:hover {
    background-color: #f9d8d8;
  }

  &:active {
    opacity: 0.5;
  }
}

.ctl__name {
  margin: 0;
  font-size: 20px;
  color: #1d2e5b;
  line-height: 20px;

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

.ctl__span-text {
  position: absolute;
  top: 59px;
  left: 104px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

.ctl__tag {
  @include text-style-ctl;
  padding-left: 6px;
  margin: 10px 0 0 0;
}

.ctl__block {
  padding-left: 6px;

  &--second {
    margin-bottom: 17px;
  }

  &--third {
    margin-bottom: 15px;
  }

  &--fourth{
    margin-bottom: 15px;
  }
}

.ctl__title {
  @include text-style-ctl;
  text-transform: lowercase;
  font-weight: 300;
  margin: 13px 0 17px 0;
}

.citi-list {
  list-style: none;
  padding: 0;
}

.citi-list__item {
  @include text-style-ctl;
  text-transform: uppercase;
  color: #1d2e5b;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  img {
    margin-right: 15px;
  }

  p {
    margin: 0;
  }
}

.ctl__tr-list.tr-list {
  height: 35px;
}

.ctl__lvl {
  position: relative;
}

.ctl__lvl-tablet {
  display: none;
}

.ctl__lvl-image {
  position: absolute;
  top: 54px;
  left: 4px;
  font-size: 24px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
}

.ctl__lvl-image::before {
  content: '';
  position: absolute;
  top: -18px;
  left: -11px;
  background: transparent;
  width: 42px;
  height: 42px;
  border: 3px solid #ff8d30;
  border-radius: 50%;
}

.ctl__btn {
  display: inline-block;
  background: #ffd74b;

  @include text-style-btn;
  padding: 5px 79px;
  border-radius: 20px;
  margin-bottom: 10px;

  &:hover {
    background: #ffbd30;
  }

  &:active {
    color: rgba(22, 28, 53, 0.3);
  }
}

.ctl__show-more {
  @include text-style-btn;
  display: block;
  position: relative;
  text-align: center;
  margin: 20px 0;
  padding-left: 31px;

  svg {
    position: absolute;
    top: 4px;
    left: 60px;
    fill: #1d2e5b;
  }
}

.ctl__wrapper-page {
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  min-width: 270px;
  height: 50px;
  border-radius: 20px;
}

.ctl__link {
  margin-top: 15px;

  svg {
    width: 10px;
    height: 20px;
  }
}

.ctl__pagination {
  margin-bottom: 36px;
}

.ctl__pages {
  display: none;
}




@media (min-width: $tablet) {
  .ctl {
    padding: 40px 40px 80px 40px;
  }

  .ctl__title {
    &--tr {
      display: none;
    }

    &--flags {
      padding-left: 48px;
      margin: 18px 0 17px 0;
    }
  }

  .ctl__item {
    padding: 35px 25px 23px 35px;
    margin-bottom: 38px;

    &::before {
      top: 45px;
      right: 214px;
    }
  }

  .ctl__avatar {
    margin-right: 33px;

    img {
      width: 190px;
      height: 190px;
      border-radius: 25px;
    }
  }

  .ctl__name {
    @include tablet-main-text;

    br {
      display: none;
    }
  }

  .ctl__tag {
    @include tablet-text;
    width: 223px;
    position: absolute;
    top: 72px;
    left: 255px;
  }

  .ctl__block {
    padding-left: 0;
  }

  .ctl__block--second {
    margin-bottom: 0;
  }

  .ctl__block--third {
    margin-bottom: 0;
  }

  .ctl__block--fourth {
    margin-bottom: 0;
  }

  .ctl__btn {
    position: absolute;
    top: 175px;
    left: 255px;
    box-sizing: border-box;
    width: 148px;
    height: 50px;
    padding: 13px 32px;
    border-radius: 25px;
    font-size: 20px;
    line-height: 30px;
  }

  .heart {
    width: 50px;
    height: 50px;
    left: 367px;

    svg {
      width: 20px;
      height: 17px;
    }
  }

  .ctl__span-text {
    font-size: 20px;
    line-height: 30px;
    left: 460px;
    top: 187px;
  }

  .ctl__tr-list.tr-list {
    margin: 0;
    padding: 0;
    flex-direction: column;
    position: absolute;
    top: -296px;
    right: 32px;

    .tr-list__item {
      margin: 33px 0 0 0;
    }

    .tr-list__checkbox--ctl::before {
      background: transparent;
    }
  }

  .ctl__lvl {
    display: none;
  }

  .ctl__lvl-tablet {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: -142px;
    right: 2px;
    background: transparent;
    border-radius: 50%;

    span:nth-child(2) {
      position: absolute;
      left: 18px;
      top: 15px;
      font-size: 24px;
      line-height: 24px;
      font-weight: bold;
      border-bottom: 1px solid #444444;
    }

    span:last-child {
      position: absolute;
      left: 19px;
      top: 40px;
      font-size: 14px;
      line-height: 14px;
    }
  }

  .citi-list {
    display: flex;
  }

  .citi-list__item {
    font-size: 20px;
    line-height: 30px;
    margin-right: 28px;

    img {
      width: 35px;
      height: 24px;
      margin-right: 11px;
      margin-top: -6px;
    }
  }

  .ctl__show-more {
    font-size: 20px;
    line-height: 30px;
    margin: 45px 0 46px 0;
    padding-left: 44px;

    svg {
      width: 27px;
      height: 27px;
      top: -1px;
      left: 247px;
    }
  }

  .ctl__pages {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: -410px
  }

  .ctl__wrapper-page {
    position: relative;
    height: 100px;
  }

  .ctl__page-number {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #161c35;
    text-decoration: none;
    margin-right: 40px;

    &--active {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background: #ffd74b;
      border-radius: 50%;
      margin-right: 20px;
    }
  }

  .ctl__link--before {
    position: absolute;
    top: 26px;
    right: 79px;
  }

  .ctl__link--after {
    position: absolute;
    top: 26px;
    right: 35px;
  }
}

@media (min-width: $desktop) {
  .ctl {
    padding: 102px 430px 80px 60px;
  }

  .ctl__item {
    width: 950px;
    height: 285px;
    box-sizing: border-box;
    margin-bottom: 30px;

    &:hover {
      box-shadow:  0px 6px 21px 0 rgba(0, 0, 0, 0.08);
      transform: scale(1.05)
    }
  }

  .ctl__avatar {
    // position: absolute;

    img {
      position: absolute;
      top: -35px;
      left: -35px;
      width: 285px;
      height: 285px;
      border-radius: 15px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .heart {
      left: 454px;
      bottom: initial;
      top: 153px;
    }
  }

  .ctl__name {
      margin-left: 275px;
      margin-top: 12px;
  }

  .ctl__item::before {
    top: 57px;
    right: 624px;
    width: 7px;
    height: 7px;
  }

  .ctl__span-text {
    left: 546px;
    top: 200px;
  }

  .ctl__tag {
    padding: 0;
    top: 85px;
    left: 348px;
  }

  .citi-list {
    display: block;
    position: absolute;
    top: 49px;
    left: 674px
  }

  .citi-list__item {
    margin-bottom: 7px;

    img {
      margin-right: 18px;
    }
  }

  .ctl__btn {
    top: 187px;
    left: 339px;
  }

  .ctl__title {
    display: none;
  }

  .ctl__lvl-tablet {
    top: 117px;
    right: 20px;
  }

  .ctl__tr-list.tr-list {
    flex-direction: row;
    top: 147px;
    right: 122px;

    .tr-list__item {
      width: 22px;
      height: 22px;
      margin: 0 10px 0 0;
    }
  }

  .ctl__pagination {
    margin-bottom: 51px;
  }

  .ctl__show-more {
    margin: 66px 0 65px -21px;
    padding-left: 0;

    svg {
      left: 366px;
    }
  }

  .ctl__wrapper-page {
    justify-content: space-between;
  }

  .ctl__pages {
    margin-left: 30px;
  }

}
