.companion {
  position: relative;
  z-index: 40;
  margin-top: -20px;
  padding: 70px 25px 25px 25px;
  background-color: #192144;
  color: #ffffff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.companion__title {
  @include titlestyle;
  padding: 0 25px;
}

.companion__text {
  @include textstylelight;
  padding: 0 25px;

  &--quote {
    display: block;
    font-weight: bold;
  }
}

.companion__main-list {
  padding: 0;
  list-style: none;
}

.companion__list--transport {
  display: flex;
  justify-content: center;
  padding: 0;
}

.companion__item {
  // margin-bottom: 10px;
  margin-right: 15px;

  svg {
    width: 20px;
    height: 20px;
  }
}

.companion__avatar {
  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.companion__about {
  position: relative;
  z-index: 10;
  margin-top: -10px;
  padding: 20px 45px;
  color: #444444;
  background: #ffffff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.companion__name {
  margin: 0;
  color: #1d2e5b;
  font-size: 21px;
  font-weight: bold;
}

.companion__list {
  display: flex;
  list-style: none;
}


@media (min-width: $tablet) {
  .companion {
    padding: 75px 75px;
  }

  .companion__title {
    font-size: 45px;
    line-height: 45px;
    padding: 0;
  }

  .companion__text {
    padding: 0;
    width: 430px;
    font-size: 28px;
    line-height: 33px;
    font-weight: 300;
    margin-bottom: 45px;

    &--quote {
      font-weight: bold;
      font-size: 21px;
      line-height: 25px;
      margin-bottom: 60px;
    }
  }

  .companion__main-list {
    display: flex;
  }

  .companion__main-item {
    width: 285px;
    margin-right: 0;
  }

  .companion__main-item:first-child {
    margin-right: 45px;
  }

  .companion__avatar {
    img {
      width: 100%;
    }
  }

  .companion__name {
    text-align: center;
  }

  .companion__tags {
    text-align: center;
  }

  .companion__list {
    justify-content: center;
  }
}


@media (min-width: $desktop) {
  .companion {
    display: flex;
    padding: 130px 60px 130px 130px;
    justify-content: space-between;
  }

  // .companion__wrapper {

  // }

  .companion__link {
    display: none;
  }
}
