.contact-block {
  position: relative;
  z-index: 20;
  margin-top: -20px;
  padding: 70px 25px 12px 25px;
  color: #ffffff;
  background: #192144;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  @include textstylelight;

  a {
    text-decoration: none;
    color: #ffd74b;
  }
}

.contact-block__title {
  @include titlestyle;
  padding: 0 25px;
  margin: 24px 0 17px 0;
  text-align: center;
}

.contact-block__text {
  font-weight: 300;
  text-align: center;
  padding: 0 30px;
  margin-bottom: 30px;
  line-height: 22px;

  &--second {
    padding: 0;
    margin: 28px 0 18px 0
  }
}

.contact-block__login {
  text-decoration: none;
  color: #ffd74b;
  text-transform: lowercase;
}

.contact--menu {
  background: #ffffff;
}

.contact__text {
  display: flex;
  align-items: center;
  font-weight: bold;

  &--second {
    margin-top: -16px;
  }
}

.contact__link {
  margin-right: 15px;
  background: #121936;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  svg {
    fill: #ffd74b;
    width: 18px;
    height: 18px;
  }
}

.upper {
  text-transform: uppercase;
}

.contact-block__input {
  position: relative;
  width: 225px;
  height: 22px;
  border-radius: 10px;
  border: none;
  padding: 20px 20px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  color: rgba(68, 68, 68, 0.3);
}

.contact-block__btn {
  position: absolute;
  right: 25px;
  height: 62px;
  width: 60px;
  background: #ffd74b;
  border-radius: 10px;
  border: none;
}

.contact-block__btn::before {
  content: '';
  position: absolute;
  top: 25px;
  right: 23px;
  width: 10px;
  height: 14px;
  background-image: url("../img/triangle-arrow-right.svg");
  background-size: 10px 14px;
}

.contact-block__btn-text {
  display: none;
}

.contact__wrapper {
  font-weight: bold;
  text-transform: uppercase;
}


@media (min-width: $tablet) {
  .contact-block {
    margin-top: -60px;
    padding: 112px 75px 60px 75px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .contact-block__title {
    padding: 0;
    margin: 24px 0 56px 0;
    font-size: 45px;
    line-height: 45px;
  }

  .contact-block__text {
    text-align: center;
    padding: 0;
    font-size: 28px;
    line-height: 33px;

    .text__br-first {
      display: none;
    }
  }

  .contact-block__text--second {
    margin: 0;

    br {
      display: none;
    }
  }

  .contact-block__form {
    margin: 63px 0 59px 0;
  }

  .contact-block__input {
    width: 470px;
    font-size: 24px;
    line-height: 24px;
    padding: 30px 35px;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: rgba(68, 68, 68, 0.3);
  }

  .contact-block__btn {
    width: 80px;
    height: 82px;
    right: 76px;
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    &::before {
      top: 35px;
      right: 35px;
    }
  }

  .contact {
    margin-top: 40px;
  }

  .contact__text {
    margin: 0;
    font-size: 28px;
    line-height: 28px;
  }

  .contact__link {
    width: 67px;
    height: 67px;
    margin-right: 24px;

    svg {
      width: 27px;
      height: 27px;
    }
  }
}


@media (min-width: $desktop) {
  .contact-block {
    padding: 144px 130px 103px 131px;
  }

  .contact-block__text {
    width: 610px;
    margin: auto;

    &--second {
      width: 621px;
    }
  }

  .contact-block__form {
    margin: 58px 0 65px 0;
  }

  .contact-block__input {
    width: 790px;
  }

  .contact-block__btn {
    width: 322px;
    right: 135px;
    padding: 30px 30px 28px 34px;
    text-align: left;
  }

  .contact-block__btn-text {
    display: block;
    font-size: 24px;
    line-height: 24px;
    color: #1d2e5b;
    font-weight: bold;
  }

  .contact-span {
    font-size: 29.5px;
    line-height: 40.5px;
  }

  .contact {
    display: flex;
    justify-content: center;
    margin-top: 38px;
  }

  .contact__text:first-child {
    margin-right: 113px;
  }

  .contact__link {
    width: 90px;
    height: 90px;
    margin-right: 32px;

    svg {
      width: 36px;
      height: 36px;
    }
  }

  .contact__link--second {
      margin-right: 30px;

      svg {
        width: 36px;
        height: 26px;
      }
  }
}
