.contact {
  color: #ffffff;
  background: #192144;
  @include textstylelight;

  &--menu {
    background: #ffffff;
  }
}

.contact__title {
  @include titlestyle;
}

.contact__link {
  text-decoration: none;
  color: #ffd74b;
}

.contact__wrapper {
  font-weight: bold;
  text-transform: uppercase;
}

.map__block {
  p {
    font-weight: bold;
    text-transform: uppercase;
  }
}
