.filter-travel {
  margin: 25px 25px 0 25px;
  padding: 25px 25px 20px 25px;
  background: #ffd74b;
  border-radius: 20px;
  color: #1d2e5b;
}

.filter-travel__main-title {
  margin: 0;
  font-size: 22.5px;
  line-height: 22.5px;
  font-weight: bold;
}

.filter-travel__list {
  list-style: none;
  padding: 0;
  margin: 23px 0 0 0;
}

.filter-travel__title {
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-travel__wrap {
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid #999999;
  // border-bottom: 0.5px solid #999999;
}

.filter-btn__arrow {
  margin-top: 17px;
  padding: 0;
  width: 8px;
  height: 4px;
  background-color: transparent;
  background-image: url('../img/dropdown.svg');
  background-size: 8px 4px;
  background-repeat: no-repeat;
  border: none;
  transform: rotate(180deg);
}

.check__list {
  padding: 0;
  list-style: none;
}

.check__item {
  padding-bottom: 10px;
}

.check__checkbox {
  position: relative;
  padding-left: 27px;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border: none;
    border-radius: 4px;
  }

  // &::after {
  //   display: none;
  //   content: '';
  //   width: 9px;
  //   height: 9px;
  //   position: absolute;
  //   top: 5px;
  //   left: 5px;
  //   background: transparent;
  //   background-image: url('../img/tick.svg');
  //   background-size: 9px 9px;
  //   background-repeat: no-repeat;
  // }

  // &::after {
  //   // display: block;
  //   content: '';
  //   width: 9px;
  //   height: 9px;
  //   position: absolute;
  //   top: 5px;
  //   left: 5px;
  //   background: transparent;
  //   background-image: url('../img/tick.svg');
  //   background-size: 9px 9px;
  //   background-repeat: no-repeat;
  // }
}

.check__input:checked + .check__checkbox::after {
  content: '';
  width: 9px;
  height: 9px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: transparent;
  background-image: url('../img/tick.svg');
  background-size: 9px 9px;
  background-repeat: no-repeat;
}

.tr__list {
  position: relative;
  height: 40px;
  display: flex;
  padding: 15px 0 0 15px;
  list-style: none;
}

.tr__item {
  margin-right: 32px;
}

.tr__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tr__checkbox::before {
  content: '';
  position: absolute;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #ffffff;
}

.tr__checkbox--ctl::before {
  background-color: #edeff6;
}

.tr__checkbox::after {
  content: '';
  position: absolute;
}

.tr__checkbox--plane::after {
  background-image: url('../img/plane.svg');
  background-size: 14px 16px;
  width: 14px;
  height: 16px;
}

.tr__checkbox--bus::after {
  background-image: url('../img/bus.svg');
  background-size: 13px 16px;
  width: 13px;
  height: 16px;
}

.tr__checkbox--bike::after {
  background-image: url('../img/bike.svg');
  background-size: 19px 17px;
  width: 19px;
  height: 17px;
}

.tr__checkbox--run::after {
  background-image: url('../img/run.svg');
  background-size: 15px 17px;
  width: 15px;
  height: 17px;
}

.tr__input:checked + .tr__checkbox::after {
  opacity: 0.2;
}


.lvl__lvl-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 220px;
  height: 50px;
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid #cbced9;
  box-sizing: border-box;
  background: #ffffff;
  margin-bottom: 20px;
}

.lvl__number {
  color: #1d2e5b;
  font-size: 15px;
  line-height: 13.5px;
  letter-spacing: 1.5px;
  font-weight: 500;
}

.lvl__line-box {
  position: relative;
  width: 220px;
  height: 2px;
  background-color: rgba(29, 46, 91, 0.2);
  // opacity: 0.2;
  margin-bottom: 25px;
  border-radius: 0.5px;
}

.lvl__line {
  position: absolute;
  right: 0;
  width: 144px;
  height: 2px;
  background-color: #1d2e5b;
  z-index: 10;
}

.lvl__dots {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #1d2e5b;
  z-index: 15;
  border-radius: 50%;

  &--one {
    top: -4px;
    right: 0;
  }

  &--two {
    top: -4px;
    right: 137px;
  }
}

.filter-travel__btn {
  @include text-style-btn;
  width: 230px;
  height: 40px;
  font-family: inherit;
  border: none;
  background: #ffffff;
  border-radius: 20px;
}
