.footer {
  position: relative;
  margin-top: -20px;
  z-index: 50;
  padding: 35px 25px 15px 25px;
  background: #ffffff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.footer__logo {
  display: flex;
  justify-content: center;

  &--catalog {
    margin-bottom: 40px;
  }
}

.footer__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer__list--form {
  margin: 35px 0 20px 0;
}

.footer__made {
  display: flex;
  justify-content: space-between;

  &--form {
    margin-top: 42px;
  }

  &--catalog {
    margin-top: 42px;
  }
}

.social__item--footer {
  margin: 0;
}

.social__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0;
  opacity: 0.3;

  &--footer {
    background: #ffd74b;
    opacity: 1;
  }
}

.footer__html {
  display: flex;
  align-items: center;
}


@media (min-width: $tablet) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 45px 40px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    &--form {
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
    }
  }

  .footer__logo {
    margin-top: 11px;
  }

  .footer__list {
    margin: 3px 0 0 -11px;
  }

  .social__item:first-child img {
    width: 14px;
    height: 28px;
  }

  .social__item:nth-child(2) img {
    width: 31px;
    height: 16px;
  }

  .social__item:nth-child(3) img {
    width: 24px;
    height: 24px;
  }

  .social__link {
    width: 60px;
    height: 60px;
    align-items: center;
  }

  .footer__made {
    font-size: 20px;
    line-height: 24px;

    &--form {
      margin: 0;
    }
  }

  .footer__html {
    margin-left: 24px;
  }
}


@media (min-width: $desktop) {
  .footer {
    &--form {
      margin-top: -39px;
      padding: 50px 60px 50px 60px;
    }
  }

  .footer__logo {
    margin-top: 3px;
  }

  .footer__list {
    margin: 0px 0 0 -46px;
  }
}
