.footer {
  background: #ffffff;
}


.footer__list {
  list-style: none;
}

.social__item {
  background: #ffd74b;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.social__link {
  text-decoration: none;
}
