.main-banner {
  position: relative;
  background-color: #192144;
  padding: 15px 25px;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-size: 320px 400px;
  background-repeat: no-repeat;
  color: #ffffff;
}

.main-banner__title {
  margin: 0 16px;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.traveller-pic {
  position: absolute;
  top: 145px;
  left: 80px;
  width: 192px;
  height: 255px;
  background-image: url("../img/traveller-illustration-mobile@1x.png");
  background-size: 192px 255px;
  background-repeat: no-repeat;
}

.main-banner__wrapper {
  display: flex;
  margin-top: 243px;
  z-index: 50;
  position: relative;

  &--form {
    display: none;
  }
}

.main-banner__tel {
  display: flex;
  justify-content: center;
  background-color: #ff8d30;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.main-banner__mail {
  display: flex;
  justify-content: center;
  background-color: #ff8d30;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.main-banner__login {
  @include text-style-btn;
  line-height: 40px;
  background: #ffd74b;
  padding: 0 38px;
  border-radius: 20px;
}

.content__quote {
  @include textstylelight;
  margin: 26px 0 30px 25px;

  p {
    width: 150px
  }

  cite {
    display: block;
    margin-top: 19px;
    font-weight: bold;
    font-style: normal;
    width: 172px;
  }
}

.content__list {
  font-weight: bold;
  list-style: none;
  color: #161c35;
  font-size: 18px;
  line-height: 18px;
  padding: 0;
  margin: 23px 0;
}

.content__item {
  position: relative;
  min-height: 55px;
  padding-top: 22px;
  padding-left: 25px;
  padding-bottom: 23px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  p {
    width: 150px;
    margin: 0;
  }

  span {
    position: absolute;
    right: 21px;
    top: 22px;
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
  }
}

.content__item:first-child {
  background-color: #ff8d30;
}

.content__item:nth-child(2) {
  background-color: #ffa530;
  margin-top: -20px;
}

.content__item:nth-child(3) {
  background-color: #ffbd30;
  margin-top: -20px;
}

.content__item:nth-child(4) {
  background-color: #ffd74b;
  margin-top: -20px;
  border-radius: 15px;
  min-height: 20px;
}


@media (min-width: $tablet) {
  .main-banner {
    padding: 25px 40px;
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-size: 100%;
    background-position: 0 350px;
  }

  .main-banner__title {
    font-size: 60px;
    line-height: 70px;
    margin: 0 125px;
  }

  .traveller-pic {
    top: 265px;
    left: 285px;
    width: 372px;
    height: 553px;
    background-image: url("../img/traveller-illustration-tablet@1x.png");
    background-size: 100%;
  }

  .main-banner__wrapper {
    display: none;
  }

  .content {
    position: relative;
    z-index: 50;
  }

  .content__quote {
    position: absolute;
    top: -448px;
    left: 9px;
    width: 260px;
    font-size: 28px;
    line-height: 33px;

    p {
      width: inherit;
      margin: 28px 0 44px 0;
    }

    cite {
      margin: 0;
      width: inherit;
      font-size: 21px;
      line-height: 25px;
      font-style: normal;
    }
  }

  .content__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 481px;
    width: 688px;
  }

  .content__item {
    font-size: 24px;
    line-height: 24px;
    min-height: 99px;
    padding: 31px 34px;
    width: 40%;

    p {
      width: 200px;
    }

    span {
      right: initial;
      left: 33px;
      top: 85px;
      font-size: 30px;
      line-height: 40px;
      font-weight: bold;
    }
  }

  .content__item:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    width: 42%;
    margin-right: -2%;
  }

  .content__item:nth-child(2) {

    margin: 0;
  }

  .content__item:nth-child(3) {
    min-height: 80px;
    width: 42%;
    margin-right: -2%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .content__item:nth-child(4) {
    border-top-left-radius: 0;
  }
}


@media (min-width: $desktop) {
  .main-banner {
    padding: 76px 60px 65px 60px;
    background-image: url("../img/globe-back-desktop@1x.jpg");
    background-size: 100%;
    background-position-y: bottom;
    background-color: #161c35;
    min-height: 475px;
  }

  .main-banner__title {
    width: 395px;
    text-align: left;
    margin: 0;
    padding-left: 67px;
  }

  .traveller-pic {
    margin: 0 auto;
    top: -24px;
    left: 604px;
    background-image: url("../img/traveller-illustration-desktop@1x.png");
    background-size: 100%;
    width: 431px;
    height: 640px;
  }

  .main-banner__wrapper {
    position: absolute;
    display: flex;
    margin: 0;
    right: 60px;
    top: -84px;

    &--form {
      top: 50px;
    }
  }

  .main-banner__tel {
    width: 50px;
    height: 50px;
  }

  .main-banner__mail {
    width: 50px;
    height: 50px;
  }

  .main-banner__login {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 30px;
    border-radius: 25px;
  }

  .content {
    position: initial;
  }

  .content__quote {
    top: 34px;
    left: initial;
    right: 86px;

    p {
      margin: 28px 0 43px 0;
    }
  }

  .content__list {
    // position: relative;
    z-index: 10;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 0;
  }

  .content__item {
    position: relative;
    width: 25%;
    padding: 30px 61px 30px 33px;
    min-height: 47px;
    height: 20px;
    display: flex;
    align-content: center;

    span {
      font-size: 24px;
      line-height: 24px;
      left: initial;
      right: 80px;
      top: 29px;
    }

    span:nth-child(2) {
      right: 47px;
    }
  }


  .content__item:first-child {
    border-bottom-left-radius: 20px;
    width: 23%;
    margin-right: -2%;
  }

  .content__item:nth-child(2) {
    margin: 0;
    padding-left: 30px;
    width: 25%;
    margin-right: -2%;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
  }

  .content__item:nth-child(3) {
    min-height: 48px;
    width: 25%;
    margin: 0;
    margin-right: -2%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
  }

  .content__item:nth-child(4) {
    min-height: 48px;
    width: 25%;
    border-top-left-radius: 20px;
    margin: 0;
    margin-left: -2%;
  }

  .content__list .content__item {
  box-sizing: border-box;
  width: 360px;
  flex-shrink: 0;
  min-height: 109px;
  margin: 0;
  padding: 28px 50px 25px 33px;

  &:nth-child(2) {
    margin-left: -47px;
  }

  &:nth-child(3) {
    margin-left: -14px;
  }

  &:nth-child(4) {
    width: 315px;
    margin-left: -15px;
  }
}

}
