.main-menu {
  position: relative;
  background: #161c35;
  padding: 27px 25px;
  display: flex;
  justify-content: space-between;
}

.main-menu__logo {
  vertical-align: middle;
}

.main-menu__toggle {
  padding: 0;
}

.main-menu__burger {
  width: 25px;
  height: 11px;
  fill: #ffffff;
}

.main-menu__reg {
  display: none;
}

.menu-where {
  position: relative;
  z-index: 50;
  padding: 10px 25px;
  background: #161c35;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  h1 {
    color: #ffffff;
    margin: 0;
  }
}

.main-popup {
  min-width: 270px;
  padding: 25px 25px;
  background: #ffffff;

  a {
    text-decoration: none;
    color: #192144;
    text-transform: uppercase;
  }

  &--close {
    display: none;
  }
}

.main-popup__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-popup__close {
  fill: #cccccc;
  width: 19px;
  height: 19px;
}

.main-popup__title {
  color: #ffffff;
  font-size: 36px;
  line-height: 40px;
}

.main-popup__main-menu {
  margin-top: 75px;
  margin-bottom: 55px;
  list-style: none;
  font-size: 30px;
}

.main-popup__link {
  font-weight: 500;
}

.main-popup__reg {
  @include text-style-btn;
  background-color: #ffd74b;
  padding: 15px 75px;
  border-radius: 25px;
}

.main-popup__contacts {
  margin-top: 50px;
}


.social {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  vertical-align: middle;
}

.social__item {
  justify-content: center;
}


@media (min-width: $tablet) {
  .main-menu__reg {
    display: block;
  }

  .main-menu__login {
    @include text-style-btn;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    font-size: 20px;
    line-height: 30px;
    background: #ffd74b;
    border-radius: 25px;
  }

  .menu-where {
    padding: 70px 75px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    h1 {
      font-size: 60px;
      line-height: 70px;
    }
  }
}

@media (min-width: $desktop) {
  .desktop-view {
    display: flex;
    position: relative;
    background: #161c35;
    box-sizing: border-box;

  }

  .main-menu {
    position: initial;
    background: #161c35;
  }

  .main-menu__toggle {
    display: none;
  }

  .main-menu__reg {
    display: none;
  }

  .main-popup {
    // display: none;
    display: flex;
    position: absolute;
    left: 250px;
    top: 30px;
    width: 100%;
    max-width: 930px;
    background: #161c35;
    padding: 67px 0 0 0;
    z-index: 100;

    a {
      color: #ffffff;
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
    }
  }

  .main-popup__wrapper {
    display: none;
  }

  .main-popup__main-menu {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .main-popup__item {
    margin-right: 36px;
  }

  .main-popup__reg {
    display: none;
  }

  .main-popup__contacts {
    display: none;
  }

  .main-popup__social {
    display: none;
  }
}
