.map {
  position: relative;
  z-index: 10;
  margin-top: -20px;
  padding: 50px 25px 35px 25px;
  background: #ffd74b;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.map__block {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.map__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #121936;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  margin-top: 3px;

  svg {
    fill: #ffd74b;
    width: 14px;
    height: 22px;
  }
}

.map__button {
  position: relative;
  padding: 20px 23px 20px 20px;
  border: 3px solid #192144;
}

.map__button::before {
  content: '';
  position: absolute;
  top: 22px;
  right: 21px;
  width: 10px;
  height: 14px;
  background-image: url("../img/triangle-arrow-right.svg");
  background-size: 10px 14px;
}

.map__img {
  img {
    height: 50%;
  }
}


@media (min-width: $tablet) {
  .map {
    padding: 85px 75px;
  }

  .map__block {
    margin-bottom: 60px;

    p {
      font-size: 28px;
      line-height: 28px;
    }

    br {
      display: none;
    }
  }

  .map__wrapper {
    width: 67px;
    height: 67px;

    svg {
      width: 21px;
      height: 31px;
    }
  }
}


@media (min-width: $desktop) {
  .map {
    display: flex;
    justify-content: space-around;
  }

  .map__block {
    margin: 0;
  }

  .map__wrapper {
    width: 90px;
    height: 90px;
    margin-right: 32px;

    svg {
      width: 28px;
      height: 43px;
    }
  }

  .mao__button {
    margin: 0;
  }
}
