.profile {
  position: relative;
  margin-top: -20px;
  padding: 42px 25px 56px 25px;
  background: #edeff6;
  color: #1d2e5b;
}

.profile__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.profile__lvl-wrapper {
  position: relative;
}

.profile__lvl {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 20px;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
  }

  span:nth-child(2) {
    position: absolute;
    left: 29px;
    top: 23px;
    font-size: 38px;
    line-height: 36px;
    font-weight: bold;
    border-bottom: 1px solid #444444;
  }

  span:last-child {
    position: absolute;
    left: 33px;
    top: 62px;
    font-size: 18px;
    line-height: 22px;
  }
}


.profile__avatar {
  img {
    border-radius: 50%;
    margin-right: 20px;
  }
}

.profile__btn {
  @include text-style-btn;
  color: #161c35;
  background: #dfe3f0;
  border: none;
  border-radius: 20px;
  padding: 5px 75px;
}

.profile__btn-desktop {
  display: none;
}

.profile__bottom {
  margin-top: 24px;

  legend {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-style: inherit;
  }

}

.profile__box-one {
  border: 1px solid #cbced9;
  border-radius: 10px;
  margin-bottom: 19px;
  padding: 13px 26px 15px 23px;

  textarea {
    padding: 0;
    width: 215px;
    background: #edeff6;
    border: none;
    color: #444444;
    font-size: 16px;
    line-height: 22px;
  }
}

.profile__box-two {
  border: 1px solid #cbced9;
  border-radius: 10px;
}

.profile__list {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  margin: 0;
}

.transport__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  width: 33px;
  height: 33px;
  border-radius: 50%;

  svg {
    fill: #1d2e5b;
  }
}

input:checked + label svg {
  opacity: 15%;
}


@media (min-width: $tablet) {
  .profile {
    padding: 80px 75px;
  }

  .profile__lvl {
    left: 0;
  }

  .profile__avatar {
    img {
      border-radius: 5px;
      margin-right: 0;
    }
  }

  .profile__btn {
    padding: 20px 0;
    width: 100%;
    border-radius: 10px;
    @include tablet-text-middle;
  }

  // .prifile__bottom {
  //   legend {

  //   }
  // }

  .profile__box-one {
    position: relative;
    textarea {
      width: 100%;
      font-size: 20px;
      line-height: 24px;
    }

    legend {
      position: absolute;
      bottom: -30px;
      left: 38%;
      background: #edeff6;
      width: 153px;
      height: 40px;
      @include tablet-text-middle;
    }
  }

  .profile__box-two {
    position: absolute;
    top: 65px;
    left: 230px;
    margin: 0;
    width: 308px;
    height: 94px;

    legend {
      @include tablet-text-middle;
      position: absolute;
      bottom: -30px;
      left: 93px;
      background: #edeff6;
      width: 153px;
      height: 40px;
    }
  }

  .profile__list {
    margin-top: 20px;
  }

  .transport__item {
    width: 43px;
    height: 43px;
    margin-right: 8px;
  }
}



@media (min-width: $desktop) {
  .profile__top {
    position: absolute;
    top: -170px;
    right: 155px;
    z-index: 100;
  }

  .profile__lvl {
    left: -150px;
    top: 50px;

    span {
      color: #ffffff;
    }
  }

  .profile__avatar {
    display: flex;
    flex-direction: column;
    img {
      width: 190px;
      height: 190px;
    }
  }

  .profile__btn {
    display: none;
  }

  .profile__btn-desktop {
    @include tablet-text-middle;
    display: block;
    background: #dfe3f0;
    border: none;
    height: 47px;
  }

  .profile__bottom {
    display: flex;
    justify-content: space-between;
  }

  .profile__box-one {
    width: 50%;
  }

  .profile__box-two {
    position: initial;
    top: initial;
    left: initial;

    legend {
      left: initial;
      right: 150px;
      bottom: 62px;
    }
  }
}

