.promo {
  @include textstylelight;

  position: relative;
  z-index: 30;
  margin-top: -20px;
  padding: 72px 25px 35px 50px;
  background: #edeff6;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.promo__avatar {
  display: flex;

  img {
    margin-top: -15px;
    height: 99px;
  }
}


.promo__title {
  @include titlestyle;
  margin: 0;
}

.promo__list {
  width: 185px;
  padding: 0;
  margin: 33px 0 29px 0;
  list-style: none;
}

.promo__item {
  position:  relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 230px;
  padding: 10px 0;
  border-top: 1px solid #cccccc;

  &:last-child {
    border-bottom: 1px solid #cccccc;
  }
}

.promo__text {
  margin: 0;
}

.promo__button {
  padding: 0;
  color: #192144;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.promo__number {
  position: absolute;
  top: 2px;
  right: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #ffffff;
  background-color: #ffa530;
  border-radius: 50%;
}


@media (min-width: $tablet) {
  .promo {
    position: relative;
    padding: 75px 40px;
  }

  .promo__title {
    font-size: 45px;
    line-height: 45px;
    padding-left: 80px;
  }

  .promo__img {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }

  .promo__list {
    width: 100%;
    margin-bottom: 60px;
    font-size: 28px;
    line-height: 33px;
  }

  .promo__item {
    display: flex;
    justify-content: space-between;

    span {
      margin-left: 100px;
    }
  }

  .promo__button {
    font-size: 20px;
    line-height: 20px;
    margin-left: 60px;
  }
}


@media (min-width: $desktop) {
  .promo {
    padding: 100px 130px 165px 130px;
  }

  .promo__title {
    margin: 0 auto;
  }
}
