.steps {
  position: relative;
  margin-top: -20px;
  z-index: 20;
  background: #d4d9eb;
  color: #1d2e5b;
  padding: 30px 25px 53px 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.steps__title {
  @include titlestyle;
  color: #1d2e5b;
  margin: 0 0 30px 0;
}

.steps__step {
  padding: 22px 25px;
  border-radius: 10px;
  background: #ffffff;
  margin-bottom: 12px;
}

.steps__main-title {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  margin: 0;
}

.steps__main-text {
  @include textstylelight;
  color: #444444;
  margin-bottom: 21px;

  &--three {
    margin-bottom: 20px;
  }
}

.step-one__flex--first {
  margin-bottom: 23px;
}


.step-one__text-find {
  margin: 0 0 8px 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.step-one {
  position: relative;
}

.step-one__people {
  position: absolute;
  top: 208px;
  right: 23px;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: rgba(29, 46, 91, 0.3)
}

.step-one__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 190px;
  height: 21px;
  border: 1px solid #cbced9;
  border-radius: 4px;
  padding: 12px 14px 7px 14px;
  margin-bottom: 20px;
}

.step-one__less  {
  padding: 0;
  margin: -3px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-one__number {
  border: none;
  width: 20px;
  font-size: 15px;
  line-height: 13.5px;
  font-weight: 500;
  color: #1d2e5b;
  text-align: center;
}

.step-one__more {
  margin: -3px 0 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-one__days {
  position: absolute;
  top: 296px;
  right: 23px;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: rgba(29, 46, 91, 0.3)
}

.step-one__wrapper-checkbox {
  margin-top: 28px;
}

.step-one__checkbox {
  position: relative;
  margin-left: 39px;
  display: block;
  font-size: 15px;
  line-height: 15px;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -39px;
    height: 24px;
    width: 24px;
    border: 1px solid #cbced9;
    border-radius: 4px;
  }
}

.cal {
  margin-top: 25px;
  margin-bottom: 21px;
}

.cal__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-top: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;
}

.cal__btn {
  padding: 0;
}

.cal__title {
  font-size: 20px;
  color: #1d2e5b;
  text-align: center;
  margin: 10px 0;
}

.cal__table {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border-collapse: collapse;
}

.cal__week {
  color: #444444;

  td {
    padding-bottom: 6px;
  }

  .days-weekend {
    color: #ff5c23;
  }
}

.cal__days {

  td {
    width: 29px;
    height: 29px;
    border: 1px solid #cbced9;
    text-align: center;
    color: rgba(68, 68, 68, 0.3);
  }

  .days-blue {
    background: #1d2e5b;
    color: #ffffff;
  }

  .days-grey {
    background: #edeff6;
    color: #444444;
  }

  .today-mark {
    border: 2px solid #ff5c23;
    z-index: 20;
  }
}

.cal__days--last-row {
  td {
    padding: 0;
  }
}


.steps__link {
  @include text-style-btn;
  display: block;
  width: 140px;
  height: 20px;
  padding: 7px 45px 12px 45px;
  margin-left: -5px;
  text-align: center;
  background: #ffd74b;
  border-radius: 20px;

  &--before {
    background: none;
    margin-top: 7px;
  }

  &--btn {
    border: none;
    width: 230px;
    height: 40px;
    padding: 13px 35px;
    line-height: 17px;
  }
}

.step-two {
  padding: 22px 25px 6px 25px;
}


.step-two__city {
  margin-bottom: 22px;
}

.place {
  display: flex;
  position: relative;
}

.place__add-city {
  position: relative;
  display: flex;
  height: 22px;
  padding: 9px 10px;
  border: 1px solid #cbced9;
  border-radius: 4px;

  input {
    border: none;
    width: 143px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #1d2e5b;
    letter-spacing: 1.4px;
  }
}

.place__add-city--choose {
  input {
    width: 196px;
  }
}

.place__add-city--country {
  background: #edeff6;

  input{
    width: 196px;
    background: #edeff6;
  }
}

.place__btn-show {
  position: absolute;
  right: 3px;
  top: 5px;
  padding: 0;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: none;

  &--country {
    top: 8px;
    background: none;
  }
}

.place__flag {
  width: 54px;
  height: 22px;
  border: 1px solid #cbced9;
  border-radius: 4px;
  padding: 9px 7px;
}

.place__btn-close {
  position: absolute;
  display: flex;
  right: -10px;
  top: -9px;
  width: 21px;
  height: 21px;
  background: #edeff6;
  border-radius: 50%;
  border: none;

  &--choose {
    top: -10px;
    right: -11px;
  }
}

.steps__wrapper {
  margin-top: 25px;
}

.step-three {
  padding: 22px 25px 6px 25px;
}


.step-three__city-box {
  textarea {
    min-width: 188px;
    height: 198px;
    padding: 10px 15px;
    border: 1px solid #cbced9;
    text-align: left;
    line-height: 22px;
  }

  &--second {
    margin: 19px 0 17px 0;
  }
}

.step-three__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  padding-left: 10px;
}

.step-three__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}



@media (min-width: $tablet) {
  .steps {
    padding: 55px 75px 80px 75px;
  }

  .steps__title {
    font-size: 36px;
    line-height: 50px;
  }

  .steps__step {
    padding: 50px 43px;
    border-radius: 30px;
  }

  .steps__main-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 35px;
  }

  .steps__main-text {
    margin: 0 0 35px 0;
    font-size: 20px;
    line-height: 24px;
  }

  .step-one__text-find {
    @include tablet-text-middle;
    margin: 25px 0;
  }

  .step-one__people {
    @include tablet-text-middle;
    top: 255px;
  }

  .step-one__wrapper {
    width: 95%;
    padding: 25px 20px;
  }

  .step-one__days {
    @include tablet-text-middle;
    top: 400px;
  }

  .steps__link {
    @include tablet-btn;
    display: block;
    width: 40%;
    border-radius: 20px;
    padding: 20px 35px;

    &--before {
      margin-top: 0;
      text-align: right;
    }
  }

  .place__add-city {
    width: 60%;

    input {
      @include tablet-text-middle;
      width: 100%;
      height: 18px;
      padding: 25px 20px;
    }
  }

  .steps__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .step-three__city-box {
    textarea {
      width: 95%;
      height: 100px;
      padding: 20px 20px;
      border-radius: 4px;
      font-size: 20px;
      line-height: 24px;
    }
  }

  .step-three__title {
    font-size: 30px;
    line-height: 18px;
    font-weight: bold;
  }
}


@media (min-width: $desktop) {
  .steps {
    padding: 60px 60px;
  }

  .steps__step {
    padding: 100px 160px;
  }

  .steps__main-title {
    br {
      display: none;
    }
  }

  .steps__main-text {
    width: 50%;
  }

  .step-one__flex {
    display: flex;
  }

  .step-one__wrapper {
    width: 180px;
  }

  .steps__wrapper {
    justify-content: space-between;
  }

  .step-three__city-box {
    textarea {
      width: 50%;
    }
  }

  .steps__link {
    width: 20%;
  }
}
