@mixin textstylelight {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

@mixin titlestyle {
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;
}

@mixin yellowbtn {
  text-decoration: none;
  background-color: #ffd74b;
  color: #1d2e5b;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

@mixin text-style-ctl {
  font-size: 15px;
  line-height: 18px;
}

@mixin text-style-btn {
  font-size: 17px;
  line-height: 30px;
  color: #1d2e5b;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin tablet-text-middle {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

@mixin tablet-btn {
  font-size: 24px;
  line-height: 24px;
  text-transform: inherit;
}

@mixin tablet-main-text {
  font-size: 30px;
  line-height: 30px;
}

@mixin tablet-text {
  font-size: 20px;
  line-height: 24px;
}




